body{font-size: 16px;color: #000;line-height: 150%;font-family: 'Open Sans', sans-serif;margin: 0;padding: 0}
body *{margin: 0;box-sizing: border-box;}

/*font-family: 'Lobster', cursive;*/

/*color:#f0394d*/

.wrapper{overflow: hidden;}

.header-div{padding: 30px 0;box-shadow: 0 6px 10px rgba(0,0,0,0.1);position: fixed;top: 0;left: 0;width: 100%;z-index: 1;background-color: #ffffff;}
.header-div .container{max-width:1200px;margin: 0 auto;width: 100%;padding: 0 15px;display: flex;align-items: center;}
.header-div .logo {float: left;}
.header-div .logo h1{font-size: 36px;}
.header-div .logo h1 a{color: #000000;text-decoration: none;display: flex;align-items: center;}
.header-div .logo h1 a span{ padding: 20px 20px;background-color: #f0394d;color: #ffffff;margin-left: 10px;border-radius: 5px;}

.header-div nav{margin-left: auto;}
.header-div nav ul{display: flex;list-style: none;padding: 0}
.header-div nav ul li + li{margin-left: 25px}
.header-div nav ul li a{font-size: 18px;color: #000000;font-weight: 500;text-decoration: none;transition: all 0.5s ease-in-out;text-transform: uppercase;}
.header-div nav ul li a:hover,.header-div nav ul li a.active{color: #f0394d}

@media(max-width:1199px){
	.header-div .logo h1 a span{padding: 10px}
	.header-div .logo h1{font-size: 22px;}
	.header-div nav ul li a{font-size: 16px;}
}
@media(max-width:767px){
	.header-div .container{flex-direction: column;}
	.header-div{padding: 20px 0;}
	.header-div .logo{margin-bottom: 25px}
	.header-div nav{margin-left: 0}

}

.banner-div{height: 80vh;margin-top: 125px;position: relative;overflow: hidden;}
.banner-div img{width: 100%;height: 100%;object-fit: cover;animation: zoom-in-zoom-out 70s ease-out infinite;}
.banner-div .caption{position: absolute;left: 0;top: 0;width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;background-color: rgba(255,255,255,0.5)}
.banner-div .caption h2{font-size: 50px;font-family: 'Lobster', cursive;color: #333333;line-height: 100%;text-align: center;}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

@media(max-width:1199px){
	.banner-div{margin-top: 105px}
	.banner-div .caption{padding: 0 15px}
	.banner-div .caption h2{font-size: 40px}
}
@media(max-width:767px){
	.banner-div .caption h2{font-size: 26px}
}


.about-div{padding: 100px 0;}
.about-div .container{max-width: 1200px;width: 100%;margin: 0 auto;padding: 0 15px;}
.about-div .about-flex{display: flex;align-items: center;}
.about-div .about-flex .image{width: 50%;}
.about-div .about-flex .image img{max-width: 100%;border-radius: 15px;}
.about-div .about-flex .about-info{width: 50%;padding-left: 30px}
.about-div .about-flex .about-info h2{font-family: 'Lobster', cursive;font-size: 40px;color: #f0394d;line-height: 150%;margin-bottom: 15px}
.about-div .about-flex .about-info p{font-size: 18px;line-height: 150%;}

@media(max-width:1199px){
	.about-div{padding: 50px 0;}
	.about-div .about-flex{align-items: flex-start;}
}
@media(max-width:991px){
	.about-div .about-flex{flex-direction: column;}
	.about-div .about-flex .image{width: 100%;text-align: center;margin-bottom: 15px}
	.about-div .about-flex .image img{width: 100%;}
	.about-div .about-flex .about-info{padding-left: 0;width: 100%;}
}
@media(max-width:767px){
	.about-div .about-flex .about-info h2{font-size: 30px}
	.about-div .about-flex .about-info p{text-align: justify;}
}

.service-div{padding: 50px 0;background: rgb(242 82 99);}
.service-div h2{font-size: 45px;color: #fff;line-height: 150%;font-family: 'Lobster', cursive;margin-bottom: 40px;text-align: center;letter-spacing: 2px}
.service-div .container{max-width: 1200px;width: 100%;margin: 0 auto;padding: 0 15px;}
.service-div .service-flex{display: flex;flex-wrap: wrap;}
.service-div .service-flex .grid{width: 33.33%;padding: 10px;border: 5px solid rgb(242 82 99);border-radius: 10px;background-color: #ffffff;}
.service-div .service-flex .grid .image{margin-bottom: 10px;overflow: hidden;}
.service-div .service-flex .grid .image img{max-width: 100%;transition: all 1s ease-in-out;}
.service-div .service-flex .grid .service-info{text-align: center;padding-bottom: 10px}
.service-div .service-flex .grid .service-info h3{margin-bottom: 10px;font-size: 24px;font-weight: 700;}

.service-div .service-flex .grid:hover .image img{
	transform: scale(1.1);
}

@media(max-width:1199px){
	.service-div .service-flex .grid{width: 50%;}
}
@media(max-width:767px){
	.service-div h2{margin-bottom: 20px;font-size: 35px}
	.service-div .service-flex .grid .service-info h3{font-size: 22px;}
	.service-div .service-flex .grid .service-info{text-align: justify;}
}
@media(max-width:575px){
	.service-div .service-flex .grid{width: 100%;}
}

.footer{background-color: #333333;padding: 25px 0;}
.footer .container{max-width: 1200px;width: 100%;margin: 0 auto;padding: 0 15px;display: flex;justify-content: space-between;}
.footer .copyright{font-weight: 700;color: #fff;letter-spacing: 1px;}

.footer ul{padding: 0;display: flex;margin-left: auto;list-style: none}
.footer ul li + li{margin-left: 20px;}
.footer ul li a{font-size: 14px;color: #fff;text-decoration: none;transition: all 0.5s ease-in-out}
.footer ul li a:hover{opacity: 0.7;}

@media(max-width:575px){
	.footer .copyright{text-align: center;}
	.footer .container{flex-direction: column;}
	.footer .copyright{margin-bottom: 15px}
	.footer ul{margin-left: 0;justify-content: center;}
}

.innerbanner{height: 200px;width: 100%;margin-top: 125px;position: relative;}
.innerbanner .caption{position: absolute;left: 0;top: 0;width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;background-color: rgba(255,255,255,0.8)}
.innerbanner .caption h2{font-size: 50px;font-family: 'Lobster', cursive;color: #f0394d;line-height: 100%;text-align: center;}
.innerbanner img{width: 100%;height: 100%;object-fit: cover;}


.innerpage{margin-top: 170px;}
.innerpage .container{max-width: 1200px;width: 100%;margin: 0 auto;display: flex;flex-wrap: wrap;padding: 0 15px}
.innerpage .contact-info{width:35%;padding:20px;background-color: #f5f5f5;}
.innerpage .contact-info h3{font-size:22px;font-weight:700;color: #333333;padding-bottom: 20px;border-bottom: 1px solid rgba(0,0,0,0.3)}
.innerpage .contact-info .address{display: flex;align-items: flex-start;padding: 15px 0}
.innerpage .contact-info .address .icon{width: 24px;margin-right: 15px;flex:0 0 24px;}
.innerpage .contact-info .address .icon img{max-width: 100%}
.innerpage .contact-info .address .text{font-size: 18px;color: #333333;}
.innerpage .contact-info .address span a{font-size: 18px;color: #333333;text-decoration: none;transition: all 0.5s ease-in-out;}
.innerpage .contact-info .address span a:hover{color: #f0394d;}

.social_media h4{font-size:20px;padding-bottom: 10px;border-bottom: 1px solid rgba(0,0,0,0.2);margin-top: 20px;margin-bottom: 15px}
.social_media ul {display: flex;list-style: none;padding: 0;}
.social_media ul li + li{margin-left: 15px}

.innerpage{padding-bottom: 50px}
.innerpage .contact-form{width:65%}

.contact-form{padding-left: 15px}
.contact-form .form{display: flex;flex-wrap: wrap;}
.contact-form .form .w-50{width: 50%;padding: 0 15px;margin-bottom: 15px}
.contact-form .form .w-100{width: 100%;margin-bottom: 15px;padding: 0 15px}
.contact-form .form label{display: flex;width: 100%;margin-bottom: 10px}
.contact-form .form .control{height: 40px;width: 100%;border:1px solid #dfdfdf; padding: 0 15px;transition: all 0.5s ease-in-out}
.contact-form .form .text-control{height: 120px;width: 100%;border:1px solid #dfdfdf; padding: 10px 15px;resize: none;transition: all 0.5s ease-in-out}
.contact-form .form .btn-div{padding: 0 15px}
.contact-form .form .btn-div .btn{display: inline-flex;padding: 10px 25px;background-color: #f0394d;border:none;font-size: 18px;color: #fff;font-weight: 700;border-radius: 10px;transition: all 0.5s ease-in-out}
.contact-form .form .btn-div .btn:hover{background-color: #000000;}

@media(max-width:1199px){
	.innerpage .contact-info h3{font-size: 18px}
	.innerpage .container{max-width: 924px;}
	.innerpage .contact-info .address .text{font-size: 16px}
}
@media(max-width:767px){
	.innerpage{padding-bottom: 30px}
	.innerpage .contact-info{width: 100%;margin-bottom: 25px;}
	.innerpage .contact-form{width: 100%;padding-left: 0}
	.contact-form .form{width: 100%}
	.contact-form .form .w-50{width: 100%;}
}